.flex-container {
  display: flex;
  position: relative;
  top: 50vh;
  transform: translateY(-50%);
  width: 70%;
  max-width: 60rem;
  border: 5px solid #000;
  margin: 0 auto;
  padding: 2em;
  flex-direction: column;
}

.flex-item {
  margin: 0.5rem;
  border: 5px solid #aaa;
  background-color: #000;
  color: #fff;
  padding: 0.5em;
}

.flex-item:nth-child(2) {
  background-color: steelblue;
  flex-basis: 250px;
}
